/* @tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants; */

.fi-sidebar-nav::-webkit-scrollbar {
    display: none;
}

.fi-sidebar-nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
